/* Import the Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Base CSS variables (Light Theme by default) */
:root {
  --primary-color: #2EBCBC;      /* Teal */
  --secondary-color: #2DAAA7;    /* Light Teal */
  --text-color: #454545;         /* Dark Gray */
  --subtext-color: #393939;      /* Medium Gray */
  --muted-text-color: #858585;   /* Light Gray */
  --background-color: #F0F3F9;   /* Off-White Background */
  --userInfo-text-color: #005c99; /* Medium blue */
  /* add a gradiant to  background*/
   --background-gradient: linear-gradient(90deg, #F0F3F9 0%, #DAEDE4 100%);   /* Off-White Background */

  --accent-color: #DAEDE4;       /* Soft Green */
  --success-color: #11a5a7;      /* Green */
  --white-color: #FFFFFF;        /* White */
  --border-color: #C4C4C4;       /* Light Border Gray */
  --hover-color: #276161;        /* Dark Green */
  --footer-background: #05445E;  /* Navy Blue */
    /* adjust hero for light mode*/
    --hero-background: #DAEDE4;    /* Soft Green */
    --hero-text: #393939;          /* Medium Gray */
    --hero-button: #2EBCBC;        /* Teal */
    --hero-button-hover: #2DAAA7;  /* Light Teal */
}

/* Dark Theme CSS variables */
html.dark {
  --primary-color: #2DAAA7;        /* Adjusted Teal */
  --secondary-color: #276161;      /* Dark Green */
  --text-color: #F0F3F9;           /* Light Gray */
  --subtext-color: #DAEDE4;        /* Soft Green */
  --muted-text-color: #C4C4C4;     /* Muted Light Gray */
  --background-color: #393939;     /* Dark Gray Background */
  --userInfo-text-color: #b3e0ff; /* Medium blue */
    /* add a gradiant to  background*/
 --background-gradient: linear-gradient(90deg, #393939 0%, #393939 100%);   /* Dark Gray Background */
  --accent-color: #2EBCBC;         /* Teal */
  --success-color: #11A75C;        /* Green */
  --white-color: #FFFFFF;          /* White */
  --border-color: #858585;         /* Medium Gray Border */
  --hover-color: #2DAAA7;          /* Light Teal */
  --footer-background: #05445E;    /* Navy Blue */
  /* adjust hero for dark mode*/
    --hero-background: #0a3d62;      /* Dark Blue */
    --hero-text: #ffffff;            /* White */
    --hero-button: #1abc9c;          /* Green */
    --hero-button-hover: #16a085;    /* Dark Green */

}
/* boostrap custom teal color */
.custom-teal {
  color: #2EBCBC;
}
.custom-teal-bg {
  background-color: #2EBCBC;
}
.custom-teal-border {
  border-color: #2EBCBC;
}
.custom-teal-bg-hover:hover {
  background-color: #2DAAA7;
}
.custom-teal-color-hover:hover {
  color: #2DAAA7;
}
.custom-teal-gradient {
  background: linear-gradient(90deg, #2EBCBC 0%, #2DAAA7 100%, );
}
.custom-tooltip {
  --bs-tooltip-bg: var(--secondary-color);
  --bs-tooltip-color: var(--text-color);
}

/* Global Styles */
body {
  background-color: var(--background-gradient);
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

/* Header */
header {
  background-color: var(--primary-color);
  color: var(--white-color);
}
/* section height */
.section-height {
  height: 100vh;
}
/* Left Sidebar Nav */
.navbar.fixed-start {
  background-color: var(--secondary-color);
  width: 250px;
  height: 100vh;
}

/* Navigation Links */
.navbar .nav-link {
  color: var(--white-color) !important;
}

/* Main Content Area */
.main-content {
  margin-left: 260px;
  background-color: var(--background-color);
}

/* Navigation Bar */
.navbar {
  background-color: var(--secondary-color);
}

.navbar .navbar-brand,
.navbar .nav-link {
  color: var(--white-color) !important;
}

.navbar .nav-link:hover {
  color: var(--hover-color) !important;
}
.userInfo-color {
  color: var(--userInfo-text-color);
}

/* Navbar Toggler Icon */
.navbar-toggler {
  border-color: var(--white-color);
}

.navbar-toggler-icon {
  filter: invert(1);
}

/* Main Content */
main h2 {
  color: var(--text-color);
}

main p {
  color: var(--subtext-color);
}

/* Buttons */
.btn-success {
  background-color: var(--success-color);
  border-color: var(--success-color);
}

.btn-success:hover {
  background-color: var(--hover-color);
  border-color: var(--hover-color);
}

.btn-secondary {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: var(--white-color);
}

.btn-secondary:hover {
  background-color: var(--hover-color);
  border-color: var(--hover-color);
}

/* Footer */
footer {
  background-color: var(--footer-background);
  color: var(--white-color);
}

/* Theme Toggle Button */
#theme-toggle {
  z-index: 1030; /* Ensure the button is above other elements */
}

/* Adjustments for Dark Mode */
html.dark body {
  background-color: var(--background-color);
  color: var(--text-color);
}

html.dark header {
  background-color: var(--primary-color);
  color: var(--white-color);
}

html.dark .navbar {
  background-color: var(--secondary-color);
}

html.dark footer {
  background-color: var(--footer-background);
  color: var(--white-color);
}
/* Hero Section Styles */
.hero {
    display: flex;
    align-items: center;
    padding: 50px;
    background-color: var(--hero-background);
    color: var(--hero-text);
  }
  
  .hero-content {
    flex: 1;
    max-width: 600px;
  }
  
  .hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .hero h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  .hero p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .cta-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: var(--hero-button);
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .cta-button:hover {
    background-color: var(--hero-button-hover);
  }
  
  .hero-image {
    flex: 1;
    text-align: right;
  }
  
  .hero-image img {
    max-width: 100%;
    height: auto;
  }
    /* Container for the password input and toggle icon */
    .password-container {
      position: relative; /* Position the container to manage the eye icon within it */
      width: 100%; /* Full width of the container, can adjust as needed */
      max-width: 400px; /* Adjust as per your design, this is optional */
      margin: 0 auto; /* Center align the container */
    }

    /* The password input field styling */
    .password-field {
      width: 100%; /* Make the input full width inside the container */
      padding: 10px;
      padding-right: 45px; /* Add extra padding to the right to make room for the icon */
      border: 1px solid #ccc;
      border-radius: 4px; /* Rounded corners for the input field */
      font-size: 16px; /* Adjust font size as needed */
    }

    /* Eye icon (both open and closed) */
    .fal.fa-eye, .fal.fa-eye-slash {
      position: absolute;
      right: 10px; /* Position the icon to the far right of the input field */
      top: 50%; /* Position vertically centered */
      transform: translateY(-50%); /* Adjust to perfectly align vertically */
      cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
      font-size: 20px; /* Adjust icon size if needed */
      color: #777; /* Set the color of the icon */
    }

    /* Styling for hover and focus states */
    .password-field:hover, .password-field:focus {
      border-color: #888; /* Highlight the border on hover or focus */
    }

    .fal.fa-eye:hover, .fal.fa-eye-slash:hover {
      color: #333; /* Darken the icon color on hover to indicate interaction */
    }

/* ===== Sidebar ===== */
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 100;  
}
.sidebar.close{
  width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li{
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
  min-width: 60px;
  border-radius: 6px;
}

.sidebar .icon{
  min-width: 60px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
  color: var(--text-color);
  transition: var(--tran-03);
}

.sidebar .text{
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
}
.sidebar.close .text{
  opacity: 0;
}
/* =========================== */

.sidebar header{
  position: relative;
}

.sidebar header .image-text{
  display: flex;
  align-items: center;
}
.sidebar header .logo-text{
  display: flex;
  flex-direction: column;
}
header .image-text .title {
  margin-top: 2px;
  font-size: 18px;
  font-weight: 600;
}

header .image-text .description{
  font-size: 16px;
  margin-top: -2px;
  display: block;
}

.sidebar header .image{
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar header .image img{
  width: 40px;
  border-radius: 6px;
}

.sidebar header .toggle{
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background-color: var(--primary-color);
  color: var(--sidebar-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-05);
}

body.dark .sidebar header .toggle{
  color: var(--text-color);
}

.sidebar.close .toggle{
  transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
  margin-top: 40px;
}

.sidebar li.search-box{
  border-radius: 6px;
  background-color: var(--primary-color-light);
  cursor: pointer;
  transition: var(--tran-05);
}

.sidebar li.search-box input{
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--primary-color-light);
  color: var(--text-color);
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  transition: var(--tran-05);
}
.sidebar li a{
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}

.sidebar li a:hover{
  background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
  color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
  color: var(--text-color);
}

.sidebar .menu-bar{
  height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
  display: none;
}
.sidebar .menu-bar .mode{
  border-radius: 6px;
  background-color: var(--primary-color-light);
  position: relative;
  transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 60px;
}

.mode .sun-moon i{
  position: absolute;
}
.mode .sun-moon i.sun{
  opacity: 0;
}
body.dark .mode .sun-moon i.sun{
  opacity: 1;
}
body.dark .mode .sun-moon i.moon{
  opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
  position: absolute;
  right: 0;
  height: 100%;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}
.toggle-switch .switch{
  position: relative;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--toggle-color);
  transition: var(--tran-05);
}

.switch::before{
  content: '';
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--sidebar-color);
  transition: var(--tran-04);
}

body.dark .switch::before{
  left: 20px;
}

.home{
  position: absolute;
  top: 0;
  top: 0;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  background-color: var(--body-color);
  transition: var(--tran-05);
}
.home .text{
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  padding: 12px 60px;
}

.sidebar.close ~ .home{
  left: 78px;
  height: 100vh;
  width: calc(100% - 78px);
}
body.dark .home .text{
  color: var(--text-color);
}

� reel{
  --gap: 1rem;
  display: grid;
  gap: var (--gap) ; 
  grid-auto-flow: column;
  grid-auto-columns: calc (50% - (var(--gap) � / �2) );
  overflow-x: scroll;
  scroll-snap-type: x mandatory; 
  scroll-padding: var (--gap);
}
� reel > *{
scroll-snap-align: start;
}